body {margin: 0px;
    background-color: rgb(255 255 255);
    }
    
    header {
        width: 200%;
        height: 60px;
        display: block;
    }
    header  img{
        width: 70px;
        border-radius: 20px;
        margin-left: 755px;
        height: 90px;
        margin-top: 10px;
    }
    
     header h2 {margin-top:-61px;
        margin-left: 440px;color:rgb(228, 119, 119);
        font-size: 55px;
        }
    header h2 {animation:hieuung 5s infinite;}
    @keyframes hieuung { 
        from {
            color: rgb(137, 203, 219);
        }
        to {
            color: rgb(38, 242, 44)
        }
        to {
            color: rgb(217, 132, 132)
        }
        to {
            color: rgb(94, 87, 194)
        }
    }
    header a:link {text-decoration:none}
    nav {width: 100%;
        height: 90px;
        background-color:rgb(255 255 255);}
        .khungdangky {
            width:450px;
            float: left;
            height:600px;
            background-color: rgb(169 219 172);
            margin-top: -500px;
            margin-left: 600px;
            border-radius: 5px;
        }
        .khungdangky1 {width:450px;float: left;
            height:420px;
            margin-top: 100px;
           margin-left:200px;
           border-radius: 5px;
           
        }
        .khungdangky1 img {width: 540px;
            border-radius:30px;
            margin-left:-50px;
            height:500px}
        .input1 {border-radius: 5px;
                border: 3px solid rgb(3, 3, 3);
                padding: 2%;
                width: 80%;
                margin: 30px auto;
                display: block;
                font-size: 20px;
            }
        div.signup2 {
            background-color: rgb(107 229 126);
            width:85%;
            height:60px;
            border-radius: 3px;
            margin: 40px auto;
         }
         .signup2 p {color: rgb(5, 5, 5);
            text-align: center;
        padding-top: 15px;
        font-size: 25px; 
        text-decoration: none;
    }
         .signup h3 {text-align: center;
            font-weight: bold;
            font-size:50px;
           
        }
        .input2 {margin-left:80px}
        .signin {margin-left:80px}
        .signin a:link {text-decoration:none}
        footer  {width:100%;
        height: 260px;
        clear: both;
        